:host {
  display: block;
  min-height: 100vh;
  background: transparent;
}

#ai {
    padding-top: 150px;
    min-height: 300px;

    #sfondo {
        background-image: url("/image.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}
