<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

<div id="sfondo" class="d-flex justify-content-start align-items-center vh-100">
    <div class="hero-section">
        <div class="section-content">
            <div class="hero-details">
                <h2 class="title">
                    <span class="game">Game</span>
                    <span class="pulse">Pulse</span>
                </h2>
                <h3 class="subtitle">Your Ultimate Gaming Destination</h3>
                <p class="description">Discover the best games, reviews, and industry news in one place. Stay updated with the latest gaming news, trends, and exclusive content. Get in-depth reviews, upcoming releases, and connect with a community of passionate gamers like you.</p>

                <div class="buttons">
                    <a class="btn btn-primary" href="/news">Latest News</a>
                    <a class="btn btn-secondary" href="/trending">Trending Games</a>
                </div>
            </div>
        </div>
    </div>
</div>