.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.rectangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 63%;  /* Occupa il 50% della larghezza, lasciando il 50% vuoto a sinistra */
  height: 100vh;
  background-color: #121212;
  z-index: 2;
}

.background-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/herosection3.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 1;
}