<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>GamePulse</h3>
        <p>Siamo un team di sviluppatori appassionati che creano app incredibili!</p>
      </div>
      
      <div class="footer-section">
        <h3>Contatti</h3>
        <ul>
          <li>Email: stefano.gavattamarconirovereto.it</li>
          <li>Telefono: +39 3528812977</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Social Media</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 La tua azienda. Tutti i diritti riservati.</p>
    </div>
  </footer>