<div class="account">
    <div class="container">
        <div class="left-section">
            <div class="profile-container">
                <div class="profile-image">
                    <img src="/logo.png" alt="Immagine profilo" id="profile-img">
                    <label for="uploadPic" class="change-img-btn">
                        <i class="fas fa-pencil-alt"></i>
                    </label>
                    <input type="file" id="uploadPic" accept="image/*">
                </div>
                <h2 class="username"> CiccioGamer69 </h2>
            </div>
        </div>
        <div class="right-section">
            <div class="account-description">
                <h3>Descrizione Account</h3>
                <p> description </p>
            </div>
            <div class="games-table">
                <h3>Giochi in Vendita</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Gioco</th>
                            <th>Prezzo</th>
                            <th>Data di Pubblicazione</th>
                        </tr>
                    </thead>
                    <tbody>
                            <td>game.name </td>
                            <td>game.price </td>
                            <td> game.releaseDate </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
