<div class="container mb-5">
    <div class="row">
        <!-- Ogni colonna contiene un'immagine -->
        <div class="col-4"> <!-- Occupa 4 colonne su 12 -->
            <img src="/image.png" class="img-fluid" alt="Immagine 1">
        </div>
        <div class="col-4">
            <img src="game-pulse/src/app/components/page-game/image copy.png" class="img-fluid" alt="Immagine 2">
        </div>
        <div class="col-4">
            <img src="img3.jpg" class="img-fluid" alt="Immagine 3">
        </div>
    </div>
</div>