<div class="main-container">
  <div class="content-wrapper">
    <div class="carousel-container">
      <h2>GIOCHI DEL MOMENTO</h2>
      <div class="carousel-background">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
              <img src="/fortnite.png" class="d-block w-100" alt="fortnite">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/r6im.png" class="d-block w-100" alt="rainbow six siege">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/valorantim.png" class="d-block w-100" alt="valorant">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/genshin.png" class="d-block w-100" alt="valorant">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/fh5.png" class="d-block w-100" alt="valorant">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/mc.png" class="d-block w-100" alt="valorant">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Precedente</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prossimo</span>
          </button>
        </div>
      </div>
    </div>
    <div class="intro-container">
      <h2>Benvenuti in GamePulse</h2>
      <p>Questa è una breve introduzione alla nostra applicazione. Qui puoi trovare i migliori giochi del momento, scoprire i migliori prezzi e esplorare diverse categorie di giochi. Speriamo che ti piaccia la nostra app!</p>
    </div>
  </div>
  <div class="info-container">
    <a href="URL_DELLA_TUA_PAGINA_1" class="info-box">
      <h3>Scopri i migliori prezzi</h3>
    </a>
    <a href="URL_DELLA_TUA_PAGINA_2" class="info-box">
      <h3>Categorie</h3>
    </a>
  </div>
</div>