<div class="main-container">
  <div class="content-wrapper">
    <div class="carousel-container">
      <h2>GIOCHI DEL MOMENTO</h2>
      <div class="carousel-background">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
              <img src="/fortnite.png" class="d-block w-100" alt="fortnite">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/r6im.png" class="d-block w-100" alt="rainbow six siege">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/valorantim.png" class="d-block w-100" alt="valorant">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/genshin.png" class="d-block w-100" alt="valorant">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/fh5.png" class="d-block w-100" alt="valorant">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <img src="/mc.png" class="d-block w-100" alt="valorant">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Precedente</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prossimo</span>
          </button>
        </div>
      </div>
    </div>
    <div class="intro-container">
      <h2>I videogiochi di GamePulse</h2>
      <p>In questa pagina, troverai una selezione dei giochi più popolari e quelli maggiormente venduti del momento, per essere sempre aggiornato sulle ultime tendenze e sulle preferenze del pubblico. Inoltre, è possibile esplorare le offerte speciali, con una sezione dedicata ai giochi più scontati, così da approfittare delle promozioni più vantaggiose. Per rendere la tua esperienza ancora più personalizzata, sono presenti diverse categorie di giochi tra cui scegliere, permettendoti di navigare facilmente tra le varie tipologie, come azione, avventura, sport, simulazione, e tanto altro. In questo modo, troverai rapidamente il gioco che meglio si adatta ai tuoi gusti e alle tue esigenze, sia che tu stia cercando un nuovo titolo da aggiungere alla tua collezione, sia che tu voglia scoprire delle novità o approfittare degli sconti.</p>
    </div>
  </div>
  <div class="info-container">
    <a href="URL_DELLA_TUA_PAGINA_1" class="info-box">
      <h3>Scopri i migliori prezzi</h3>
    </a>
    <a href="URL_DELLA_TUA_PAGINA_2" class="info-box">
      <h3>Categorie</h3>
    </a>
  </div>
</div>