<div class="navbar">
  <img [src]="immagine" class="logo">
  <div class="search-bar">
      <input type="text" placeholder="Hinted search text">
  </div>
  <button class="burger-menu" (click)="toggleMenu()">&#9776;</button>
  <div class="menu">
    <button class="menu-item" routerLink="/search" routerLinkActive="active">Fortnite</button>
    <button class="menu-item" routerLink="/search" routerLinkActive="active">BattlePass</button>
    <button class="menu-item" routerLink="/search" routerLinkActive="active">Cicciogaer</button>
    <button class="menu-item" routerLink="/search" routerLinkActive="active">Resident Evil</button>
    <button class="menu-item"routerLink="/search" routerLinkActive="active">I dont know</button>
  </div>
</div>
@if(menuOpen == true){
  <div class="menu2" [class.open]="menuOpen">
    <button class="menu-item" routerLink="/search" routerLinkActive="active">Fortnite</button>
    <button class="menu-item" routerLink="/search" routerLinkActive="active">BattlePass</button>
    <button class="menu-item" routerLink="/search" routerLinkActive="active">Cicciogaer</button>
    <button class="menu-item" routerLink="/search" routerLinkActive="active">Resident Evil</button>
    <button class="menu-item"routerLink="/search" routerLinkActive="active">I dont know</button>
  </div>
}