<div class="navbar">
  <img [src]="immagine" class="logo">
  <div class="search-bar">
      <input type="text" placeholder="Hinted search text">
  </div>
  <button class="burger-menu" (click)="toggleMenu()">&#9776;</button>
  <div class="menu">
      <div class="menu-item">Fortnite</div>
      <div class="menu-item">BattlePass</div>
      <div class="menu-item">Cicciogaer</div>
      <div class="menu-item">Resident Evil</div>
      <div class="menu-item">I dont know</div>
  </div>
</div>
@if(menuOpen == true){
  <div class="menu2" [class.open]="menuOpen">
    <div class="menu-item">Fortnite</div>
    <div class="menu-item">BattlePass</div>
    <div class="menu-item">Cicciogaer</div>
    <div class="menu-item">Resident Evil</div>
    <div class="menu-item">I dont know</div>
  </div>
}