
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a; 
}
img{
    width: 80px;
    height: auto;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: var(--backgorund-menu);
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    background-color: #f3edf7; 
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 400px;
    flex-grow: 1;
    margin: 0 20px;
}

.navbar .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 14px;
    color: #333;
    flex-grow: 1;
}

.navbar .search-bar input::placeholder {
    color: #999;
}

.navbar .search-bar svg {
    fill: #999;
    width: 16px;
    height: 16px;
}

.menu {
    display: flex;
    gap: 40px;
    transition: transform 0.3s ease;
}

.menu-item {
    color: #cbd5e1;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 5px;
}

.menu-item:hover {
    color: white;
}

.burger-menu {
    display: none;
}


.menu2 {
    position: fixed;
    top: 60px; /* Altezza della navbar */
    right: 0;
    width: 150px;
    height: calc(100% - 60px); /* Altezza della navbar */
    background-color: var(--backgorund-menu);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    text-align: center;
}


@media (max-width: 900px) {
    .navbar .menu {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }
    .menu.open {
        transform: translateX(0);
    }
}
@media(min-width: 900px){
    .menu2{
        display: none;
    }
}

.sparkle-button {
  --active: 0;
  background: none; /* Rimuovi il background di base */
  font-size: 1rem; /* Diminuisci la dimensione del font */
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: 0.5em 0.8em; /* Riduci il padding */
  display: flex;
  align-items: center;
  gap: 0.25em;
  white-space: nowrap;
  border-radius: 100px;
  position: relative;
  box-shadow: none; /* Rimuovi il box-shadow di base */
  transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
  scale: calc(1 + (var(--active) * 0.05)); /* Riduci l'effetto di ingrandimento */
  transition: 0.3s;
  color: white; /* Cambia il colore del testo del bottone AI in bianco */
}

.sparkle-button:active {
  scale: 1;
  transition: 0.3s;
}

.sparkle path {
  color: white; /* Cambia il colore delle stelline in bianco */
  transform-box: fill-box;
  transform-origin: center;
  fill: currentColor;
  stroke: currentColor;
  animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
  animation-duration: 0.6s;
  transition: color var(--transition);
}

.sparkle-button:is(:hover, :focus-visible) path {
  animation-name: bounce;
}

@keyframes bounce {
  35%, 65% {
    scale: var(--scale);
  }
}

.sparkle path:nth-of-type(1) {
  --scale: 0.5;
  --delay: 0.1;
  --base: 40%;
}

.sparkle path:nth-of-type(2) {
  --scale: 1.5;
  --delay: 0.2;
  --base: 20%;
}

.sparkle path:nth-of-type(3) {
  --scale: 2.5;
  --delay: 0.35;
  --base: 30%;
}

.sparkle-button:before {
  content: "";
  position: absolute;
  inset: -0.2em;
  z-index: -1;
  border: 0.25em solid hsla(50, 90%, 37%, 1);
  border-radius: 100px;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.spark {
  position: absolute;
  inset: 0;
  border-radius: 100px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(rgb(255, 255, 255), transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 0%;
  left: 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: calc((var(--active)) + 0.4);
  background: conic-gradient(
    from 0deg,
    transparent 0 340deg,
    white 360deg
  );
  transition: opacity var(--transition);
  animation: rotate var(--spark) linear infinite both;
}

.spark:after {
  content: "";
  position: absolute;
  inset: var(--cut);
  border-radius: 100px;
}

.backdrop {
  position: absolute;
  inset: var(--cut);
  background: none; /* Rimuovi il background di base */
  border-radius: 100px;
  transition: background var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

@supports(selector(:has(:is(+ *)))) {
  body:has(button:is(:hover, :focus-visible)) {
    --active: 1;
    --play-state: running;
  }

  .bodydrop {
    display: none;
  }
}

.sparkle-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
  --active: 1;
  --play-state: running;
}

.sparkle-button:is(:hover, :focus-visible) {
  --active: 1;
  --play-state: running;
}

.sp {
  position: relative;
}

.particle-pen {
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  -webkit-mask: radial-gradient(white, transparent 65%);
  z-index: -1;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.particle {
  fill: white; /* Cambia il colore delle stelline in bianco */
  width: calc(var(--size, 0.25) * 1rem);
  aspect-ratio: 1;
  position: absolute;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  opacity: var(--alpha, 1);
  animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s) infinite linear;
  transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
  z-index: -1;
  animation-play-state: var(--play-state, paused);
}

.particle path {
  fill: white; /* Cambia il colore delle stelline in bianco */
  stroke: none;
}

.particle:nth-of-type(even) {
  animation-direction: reverse;
}

@keyframes float-out {
  to {
    rotate: 360deg;
  }
}

.text {
  translate: 2% -6%;
  letter-spacing: 0.01ch;
  background: none; /* Rimuovi il background di base */
  -webkit-background-clip: text;
  color: white; /* Cambia il colore del testo AI in bianco */
  transition: background var(--transition);
}

.sparkle-button svg {
  inline-size: 1.25em;
  translate: -25% -5%;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #041823; /* Da blu notte a blu */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  border-left: 3px solid #FFFFFF; /* Bordo a sinistra */
  border-bottom: 3px solid #FFFFFF; /* Bordo sotto */
  border-top-left-radius: 15px; /* Angolo arrotondato in alto a sinistra */
  border-bottom-left-radius: 15px; /* Angolo arrotondato in basso a sinistra */
}
.sidebar.open {
  right: 0;
}

.sidebar .container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar .intro-message {
  margin-bottom: 20px;
}

.sidebar .intro-message h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sidebar .intro-message p {
  font-size: 1rem;
  line-height: 1.5;
}

.sidebar .response-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .response-box {
  background-color: rgba(255, 255, 255, 0.1); /* Very light, almost transparent white */
  color: #FFFFFF;
  position: relative;
  width: 100%;
  z-index: 10;
  border: 3px solid black; /* Set the border color to black */
  flex: 1;
  overflow-y: auto;
}

.sidebar .input-group {
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  margin-top: 20px; /* Adjust this value as needed to create space for the response box */
}

.sidebar .btn-primary {
  background-color: #797b7e;
  border: none;
  color: white;
}

.sidebar .btn-primary:hover {
  background-color: #b69607;
}

.sidebar .btn-secondary {
  background-color: rgba(128, 128, 128, 0.5); /* Semi-transparent grey */
  border: none;
  width: 100%; /* Make the button longer */
  margin-top: 10px; /* Add some space above the button */
}

.sidebar .btn-secondary:hover {
  background-color: rgba(128, 128, 128, 0.7); /* Slightly less transparent on hover */
}

.sidebar .d-flex {
  margin-top: 20px;
}

.sidebar .spinner-border {
  width: 1.20rem;
  height: 1.20rem;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 1.6s infinite linear;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 194, 194, 0.7);
  border: 1px solid #FFFFFF
}

.spinner div:nth-child(1) {
  transform: rotateY(0deg) translateZ(20px);
}

.spinner div:nth-child(2) {
  transform: rotateY(90deg) translateZ(20px);
}

.spinner div:nth-child(3) {
  transform: rotateY(180deg) translateZ(20px);
}

.spinner div:nth-child(4) {
  transform: rotateY(-90deg) translateZ(20px);
}

.spinner div:nth-child(5) {
  transform: rotateX(90deg) translateZ(20px);
}

.spinner div:nth-child(6) {
  transform: rotateX(-90deg) translateZ(20px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  color: white;
  animation: blink 1s infinite;
  
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}