<div id="sfondo" class="game-container">
    <div class="left-section">
        <h1 class="game-title">{{infoGioco()?.name}}</h1>
        <div class="game-description" [innerHTML]="infoGioco()?.description">{{infoGioco()?.description}}</div>
        </div>
        <div>
            @for(store of infoGioco()?.stores; track $index){
                <a [href]="'https://' + store.store.domain" target="_blank">
                    {{store.store.name}}     |
                </a>
            }
        </div>
    </div>
    
    <div class="right-section">
        <img [src]="infoGioco()?.background_image"  alt="Dota 2 Cover" class="game-image">
        <div class="rating-stars">★★★★★ {{infoGioco()?.rating}}</div>
    </div>
</div>

