<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <h2 style="color: #8a2be2;margin: 0;font-size: 1.8rem;font-weight: 700; text-align: center; padding-bottom: 20px;">Giochi in evidenza</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/cs16.jpg" class="d-block w-50 mx-auto" alt="..." style="height: 50vh; object-fit: contain;"
        [routerLink]="'/game/19301'">
    </div>
    <div class="carousel-item">
      <img src="/wukong.jpg" class="d-block w-50 mx-auto" alt="..." style="height: 50vh; object-fit: contain;"
        [routerLink]="'/game/19301'">
    </div>
    <div class="carousel-item">
      <img src="/Dota2.jpg" class="d-block w-50 mx-auto" alt="..." style="height: 50vh; object-fit: contain;"
        [routerLink]="'/game/481913'">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h2 style="color: #8a2be2;margin: 0;font-size: 1.8rem;font-weight: 700; text-align: center; padding-top: 20px;">Categorie</h2>

<div class="categorie" >
  <div class="game-card" (click)="goToCategory('Sport')" >
    <div class="game-image">
        <img src="/cs16.jpg">
    </div>
    <div class="game-details">
        <h3>Sport</h3>
    </div>
  </div>
  <div class="game-card " (click)="goToCategory('RPG')" >
    <div class="game-image">
        <img src="/cs16.jpg">
    </div>
    <div class="game-details">
        <h3>RPG</h3>
    </div>
  </div>
  <div class="game-card" (click)="goToCategory('FPS')" >
    <div class="game-image">
        <img src="/cs16.jpg">
    </div>
    <div class="game-details">
        <h3>FPS</h3>
    </div>
  </div>
  <div class="game-card" (click)="goToCategory('Puzzle')">
    <div class="game-image">
        <img src="/cs16.jpg">
    </div>
    <div class="game-details">
        <h3>Puzzle</h3>
    </div>
  </div>
</div>

<h2 style="color: #8a2be2;margin: 0;font-size: 1.8rem;font-weight: 700; text-align: center; padding-top: 20px;">NewOffers</h2>

<div class="categorie" [routerLink]="'/game/' + (listadiVendita()?.[0]?.uid || '')">
  <div class="game-card">
    <div class="game-image">
        <img src="{{imgGioco()[0]}}">
    </div>
    <div class="game-details">
        <h3>
          {{listadiVendita()?.[0]?.title || 'Titolo non disponibile' }}
        </h3>
        <p style="color: white;">
          {{listadiVendita()?.[0]?.description || '' }}
        </p>
    </div>
  </div>
  <div class="game-card"  [routerLink]="'/game/' + (listadiVendita()?.[1]?.uid || '')">
    <div class="game-image">
        <img src="{{imgGioco()[1]}}">
    </div>
    <div class="game-details">
        <h3>
          {{listadiVendita()?.[1]?.title || 'Titolo non disponibile' }}
        </h3>
        <p style="color: white;">
          {{listadiVendita()?.[1]?.description || '' }}
        </p>
    </div>
  </div>
  <div class="game-card" [routerLink]="'/game/' + (listadiVendita()?.[2]?.uid || '')">
    <div class="game-image">
        <img src="{{imgGioco()[2]}}">
    </div>
    <div class="game-details">
        <h3>
          {{listadiVendita()?.[2]?.title || 'Titolo non disponibile' }}
        </h3>
        <p style="color: white;">
          {{listadiVendita()?.[2]?.description || '' }}
        </p>
    </div>
  </div>
  <div class="game-card" [routerLink]="'/game/' + (listadiVendita()?.[3]?.uid || '')">
    <div class="game-image">
        <img src="{{imgGioco()[3]}}">
    </div>
    <div class="game-details">
        <h3>
          {{listadiVendita()?.[3]?.title || 'Titolo non disponibile' }}
        </h3>
        <p style="color: white;">
          {{listadiVendita()?.[3]?.description || '' }}
        </p>
    </div>
  </div>
</div>

