:host {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: radial-gradient(
        circle at center, 
        #6B2BAE,        
        #1A1A1A          
    );    
    justify-content: center;
    align-items: center;
}


.carousel{
    width: 80%;
    height: 100%;
    padding-bottom: 3%;
}

.categorie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding-top: 5%;
}

.game-card {
    padding: 1%;
    height: 100%;
    width: 19%;
    box-shadow: 0 4px 8px rgba(255,255,255,0.1), 0 0 5px rgba(170, 128, 255, 0.4);
    border-radius: 10px;
    overflow: hidden;
    background: #1e1e1e;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(148, 110, 255, 0.2);
    cursor: pointer; /* Aggiunto per cambiare il cursore in una mano quando si passa sopra */
  }
  
  .game-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(255,255,255,0.2), 0 0 15px rgba(170, 128, 255, 0.5);
  }
  
  .game-image {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #333;
    background-image: linear-gradient(45deg, #2d2a3a, #444);
    width: 100%;
    object-fit: cover;
  }
  
  .game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .game-card:hover .game-image img {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgba(170, 128, 255, 0.4));
  }
  
  .game-details {
    padding: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  
  .game-details::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    transform: translateX(-50%);
    background: linear-gradient(90deg, transparent, rgba(170, 128, 255, 0.5), transparent);
  }
  
  .game-details h3 {
    font-size: 100%;
    color: #f5f5f5;
    text-shadow: 0 0 2px rgba(170, 128, 255, 0.3);
  }

@media (max-width: 768px) {
    .categorie {
        flex-direction: column;
        align-items: center;
    }
    .game-card {
        width: 80%;
        margin-bottom: 4%;
    }
}
