<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <h2 style="color: #8a2be2;margin: 0;font-size: 1.8rem;font-weight: 700; text-align: center; padding-bottom: 20px;">Giochi in evidenza</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/cs16.jpg" class="d-block w-50 mx-auto" alt="..." style="height: 50vh; object-fit: contain;"
        [routerLink]="'/game/19301'">
    </div>
    <div class="carousel-item">
      <img src="/wukong.jpg" class="d-block w-50 mx-auto" alt="..." style="height: 50vh; object-fit: contain;"
        [routerLink]="'/game/19301'">
    </div>
    <div class="carousel-item">
      <img src="/Dota2.jpg" class="d-block w-50 mx-auto" alt="..." style="height: 50vh; object-fit: contain;"
        [routerLink]="'/game/481913'">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="categorie">
  <a>Categoria 1</a>
  <a>Categoria 2</a>
  <a>Categoria 3</a>
</div>