<div class="account">
    <div class="container">
        <div class="left-section">
            <div class="profile-container">
                <div class="profile-image">
                </div>
                <h2 class="username">Admin</h2>
            </div>
        </div>
        <div class="right-section">
            <div class="account-description">
                <h3>Descrizione Account</h3>
                <p>Appassionato di tecnologia, videogiochi e viaggi. Sempre alla ricerca di nuove esperienze e pronto a esplorare il mondo con curiosità e passione. Nel tempo libero mi piace leggere, ascoltare musica e migliorare le mie competenze professionali. Se vuoi scambiare opinioni su argomenti tech o scoprire nuovi giochi, sono sempre disponibile per una chiacchierata! </p>
            </div>
        </div>
    </div>
</div>
