<div class="container">
    <div class="imagecontainer justify-content-center p-4">
        <img src="/image.png" alt="">
    </div>
    <div class="aboutcontainer imagecontainer justify-content-center m-2 text-center">
        <p>eMaker including versions Maker including versions ofaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includaker including versions Maker including versions ofMaker includMaker including versions ofMaker including versions ofMaker including versions ofof Lorem Ipsum.</p>
    </div>

</div>
