<div id="sfondo">
  <div class="container">
    <div class="title">
      <div class="login">Login</div>
    </div>
    <div class="email">
      <div class="email-text">
        <p>Email</p>
      </div>
      <input type="text" id="emailField"/><!-- [(ngModel)]="email" -->
    </div>
    <div class="password">
      <div class="password-text">
        <p>Password</p>
      </div>

      <input id="passwordField" [type]="showPassword ? 'text' : 'password'" />
      <div class="mostrapassword">
        <input type="checkbox"  (click)="togglePasswordVisibility()" />
        <p>Mostra password</p>
      </div>
    </div>

    <div class="buttonlogincontainer">
      <button class="button-27" role="button">
        <!-- (click)="login()" -->
        Cancel
      </button>
      <button class="button-27" role="button">Login</button>
    </div>
  </div>
</div>
