<div class="navbar">
  <img [src]="immagine" class="logo">
  <div class="search-bar">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" id="gameName" placeholder="name..." [formControl] ="gameName">
    </div>
</div>
  <a href="#" class="square" (click)="menuOpen = !menuOpen">
    <div class="burgerwrap">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <div class="menu">
    <button class="shadow__btn">Home</button>
    <button class="shadow__btn">Statistiche</button>
    <button class="shadow__btn">Categorie</button>
    <button class="shadow__btn">Giochi</button>
    <button class="shadow__btn">Account</button>
    <button class="shadow__btn">Login</button>
  </div>
</div>
@if(menuOpen == true){
  <div class="menu2" [class.open]="menuOpen">
    <button class="shadow__btn">Home</button>
    <button class="shadow__btn">Statistiche</button>
    <button class="shadow__btn">Categorie</button>
    <button class="shadow__btn">Giochi</button>
    <button class="shadow__btn">Account</button>
    <button class="shadow__btn">Login</button>
  </div>
}

@if(gameList()){
  <div style="justify-content: center; align-items: center">
      <div class ="list-group">
          <!-- artistList potrenne esssere null, quindi non avere le proprietà artists e items
            Quando eseguo il ciclo devo quindi controllare che effetivamente artistList() non sia null
            quindi abbia artists e poi items 
            Questo controllo lo faccio scrivendo aritstList()? che restituisce un dato di tipo ISearch se
            diverso da null altrimenti un valore nullable che annulla l'esecuzione del ciclo for -->
          @for(game of gameList()?.results; track $index){
              <a class="list-group-item list-group-item-action" >
                  <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{game.name}}</h5>
                  </div>
              </a>
          }
      </div>
  </div>
}