<nav>
  <div class="menu">
    <div class="logo-container">
      <img [src]="immagine" class="logo">
    </div>
    <div class="search-container">
        <input type="text" class="form-control" id="gameName" placeholder="name..." [formControl] ="gameName" (click)="onSearchClick()">
        @if(gameList() && menuOpen()){
        <div class="results-dropdown">
            <div class ="list-group">     
              @for(game of gameList()?.results; track $index){
                <a [routerLink] = "['game/',game.id]" class="list-group-item list-group-item-action" (click)="onGameClick()">
                  <div> 
                    <img [src]="game.background_image" class="game-img">
                    <p>{{game.name}}</p>
                  </div>
                </a>
              }
            </div>
          </div>
        }
      </div>

    <div class="menu_buttons">
      <button class="btn" [routerLink] ="['/']">Home</button>
      <div class="sp">
        <button class="sparkle-button" (click)="toggleSidebar()">
          <span class="spark"></span>
          <span class="backdrop"></span>
          <svg class="sparkle" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
          <span class="text">AI</span>
        </button>
        <div class="bodydrop"></div>
        <span aria-hidden="true" class="particle-pen">
          <svg class="particle" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.937 3.846L7.75 1L8.563 3.846C8.77313 4.58114 9.1671 5.25062 9.70774 5.79126C10.2484 6.3319 10.9179 6.72587 11.653 6.936L14.5 7.75L11.654 8.563C10.9189 8.77313 10.2494 9.1671 9.70874 9.70774C9.1681 10.2484 8.77413 10.9179 8.564 11.653L7.75 14.5L6.937 11.654C6.72687 10.9189 6.3329 10.2494 5.79226 9.70874C5.25162 9.1681 4.58214 8.77413 3.847 8.564L1 7.75L3.846 6.937C4.58114 6.72687 5.25062 6.3329 5.79126 5.79226C6.3319 5.25162 6.72587 4.58214 6.936 3.847L6.937 3.846Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </span>
      </div>
      <button class="btn">Statistiche</button>
      <button class="btn">Categorie</button>
      <button class="btn">Giochi</button>
      <button class="btn" [routerLink] ="['/login']">Login</button>
    </div>
  </div>
</nav>

<nav class="sidebar">
  <div class="sidebar-content">
    <ul>
      <button class="btn" [routerLink] ="['/']">Home</button>
      <div class="sp">
        <button class="sparkle-button" (click)="toggleSidebar()">
          <span class="spark"></span>
          <span class="backdrop"></span>
          <svg class="sparkle" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
          <span class="text">AI</span>
        </button>
        <div class="bodydrop"></div>
        <span aria-hidden="true" class="particle-pen">
          <svg class="particle" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.937 3.846L7.75 1L8.563 3.846C8.77313 4.58114 9.1671 5.25062 9.70774 5.79126C10.2484 6.3319 10.9179 6.72587 11.653 6.936L14.5 7.75L11.654 8.563C10.9189 8.77313 10.2494 9.1671 9.70874 9.70774C9.1681 10.2484 8.77413 10.9179 8.564 11.653L7.75 14.5L6.937 11.654C6.72687 10.9189 6.3329 10.2494 5.79226 9.70874C5.25162 9.1681 4.58214 8.77413 3.847 8.564L1 7.75L3.846 6.937C4.58114 6.72687 5.25062 6.3329 5.79126 5.79226C6.3319 5.25162 6.72587 4.58214 6.936 3.847L6.937 3.846Z" fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </span>
      </div>
      <button class="btn">Statistiche</button>
      <button class="btn">Categorie</button>
      <button class="btn">Giochi</button>
      <button class="btn" [routerLink] ="['/login']">Login</button>
    </ul>
  </div>
</nav>


<div class="sidebarr" [class.open]="sidebarOpen">
  <div id="ai" class="container mt-5 d-flex flex-column justify-content-between h-100">
    <div>
      <div class="intro-message">
        <h2>Ciao sono GamePulseAI.<br>Come posso aiutarti oggi?</h2>
      </div>
    </div>
    <div class="response-container">
      <div class="response-box mt-3 p-3 border rounded">
        @if(aiResponse() == null && isLoading) {
        <div class="spinner-container">
          <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="loading-text">Caricamento...</div>
        </div>
        }
        @if(aiResponse() != null) {
        <div [innerHTML]="aiResponse()?.choices?.[0]?.message?.content"></div>
        }
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [value]="queryText" (input)="handleQueryChange($event)"
          placeholder="Cerca..." [disabled]="isLoading">
        <button class="btn btn-primary" (click)="executeSearch()" [disabled]="isLoading">
          @if(!isLoading) {
          Cerca
          }
          @if(isLoading) {
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          }
        </button>
      </div>
    </div>
  </div>
</div>