<div class="navbar">
  <div class="logo-container">
    <img [src]="immagine" class="logo">
  </div>
  <div class="search-container">
      <input type="text" class="form-control" id="gameName" placeholder="name..." [formControl] ="gameName">
  </div>
  <a href="#" class="square" (click)="menuOpen = !menuOpen">
    <div class="burgerwrap">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <div class="menu">
    <button class="shadow__btn">Home</button>
    <button class="shadow__btn">Statistiche</button>
    <button class="shadow__btn">Categorie</button>
    <button class="shadow__btn">Giochi</button>
    <button class="shadow__btn">Account</button>
    <button class="shadow__btn">Login</button>
  </div>
</div>
@if(menuOpen == true){
  <div class="menu2" [class.open]="menuOpen">
    <button class="shadow__btn">Home</button>
    <button class="shadow__btn">Statistiche</button>
    <button class="shadow__btn">Categorie</button>
    <button class="shadow__btn">Giochi</button>
    <button class="shadow__btn">Account</button>
    <button class="shadow__btn">Login</button>
  </div>
}




<div class="list-group-container">
  @if(gameList()){
    <div class ="list-group">     
          @for(game of gameList()?.results; track $index){
                <button [routerLink] = "['/game/',game.name]" class="list-group-item list-group-item-action">
                      <div class="d-flex justify-content-between">
                          <img [src]="game.background_image" class="game-img">
                          <p>{{game.name}} </p>
                      </div>
              </button>
            }
      </div>
    }
</div>


